/* // 后加 */
	.suoyougongn {
		width: 100%;
		height: 55px;
		line-height: 55px;
		background: #eef1f6;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}

	.suoyougongn i {
		padding: 20px;

	}

	.suoyougongn:hover {
		background: #20a0ff;
		color: #fff;
	}
	.suoyougongn1{
		background: #20a0ff;
		color: #fff;
	}
	/* 二级菜单修改 */
	.dongtai {
		-ms-overflow-style:none;
		       /*火狐下隐藏滚动条*/
		scrollbar-width: none;
		cursor:pointer;
		box-shadow: 0px 0px 0px 0px #dddddd;
		position: fixed;
		overflow-y: scroll;
		top: 105px;
		left: 230px;
		width: 0px;
		height: 90.3%;
		background-color: #20a0ff !important;
		color: #fff !important;
		z-index: 1997;
		color: #fff;
		transition: width 0.3s;
		-moz-transition: width 0.3s;
		/* Firefox 4 */
		-webkit-transition: width 0.3s;
		/* Safari and Chrome */
		-o-transition: width 0.3s;
		/* Opera */
	}
	::-moz-scrollbar{width: 0px;height: 1px;}
	::-moz-scrollbar-thumb {border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);background: rgba(0, 0, 0, 0.2);}
	::-ms-scrollbar{width: 0px;height: 1px;}
	::-ms-scrollbar-thumb {border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);background: rgba(0, 0, 0, 0.2);}
	::-webkit-scrollbar { width: 0px;height: 1px;}
	::-webkit-scrollbar-thumb {border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);background: rgba(0, 0, 0, 0.2);}
	.dongtaia {
		width: 630px;
		box-shadow: 4px 0 8px 0 rgba(0, 0, 0, .2);
	}

	.closeFatherClass {
		height: 0;
		text-align: right;
		margin-right: 10px;
		position: relative;
		top: 10px;
	}

	.closeFatherClass img {
		width: 20px;
		height: 20px;
	}

	/* // 最近浏览 */
	ul {
		padding: 0;
	}

	.border-bottom {
		border-bottom: 1px solid #fff;
		padding-bottom: 5px !important;
	}

	.border-bottom h5 {
		margin-left: 0 !important;
		font-size: 1rem;
	}

	.historyContent {
		margin-top: 0px;
		padding-top: 20px;
		width: 600px;
		overflow: hidden;
		padding-left: 30px;
		margin-bottom: 0px;
	}

	.historyContent div,
	.befor::after {
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
		border-bottom: 1px solid #ddd;
	}

	.historyContent ul li {
		float: left;
		width: 32.2%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.historyContent h4 {
		margin-bottom: 15px;
		font-weight: 600;
	}

	.historyContent h5 span,
	.prepend li {
		cursor: pointer;
	}

	#dl3 ul::after {
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}
	#dl3 .icon{
		text-align: right;
		width: 14px;
		height: 14px;
	}
	#dl3 ul {

		padding-top: 1em;
		-moz-page-break-inside: avoid;
		-webkit-column-break-inside: avoid;
		break-inside: avoid;
	}
#dl3 ul li{
	display: flex;
	justify-content: space-between;
	align-items: center ;
}
	#dl3 {
		-moz-column-count: 3;
		/* Firefox */
		-webkit-column-count: 3;
		/* Safari 和 Chrome */
		column-count: 3;
	}

	.collect {
		padding-left: 30px;
	}

	.allMenu {
		width: 33.3%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.forContent {
		width: 94%;
	}

	.forContent ul li {
		display: flex;
		justify-content: space-between;
		padding: 5px 0px 0 0;
		height: 30px;
		line-height: 30px;
	}
	.forContent ul li span{
		display: block;
		width: 100%;
	}
	.forContent ul li i {
		display: none;
	}
	.befor{
		margin: 10px 0 25px 0;
	}
.befor li{
	line-height: 40px;
}
	.befor li a,
	.forContent li a {
		opacity: .65;
		font-size: 12px;
	}

	.forContent li a:hover {
		color: dodgerblue;
	}

	.forContent li i {
		font-size: 12px !important;
	}
	/* // 左侧收藏 */
	.leftcon{
		overflow-y: scroll;
		max-height: 90%;
		-ms-overflow-style:none;
		       /*火狐下隐藏滚动条*/
		scrollbar-width: none;
	}
	.leftcon li{
		height: 50px;
		display: flex;
		
		justify-content: space-between;
		align-items: center;
		color: #000;
		line-height: 50px;
		padding:0 20px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.leftcon li:hover{
		color: #fff;
		background:#20a0ff ;
	}
	.leftcon li img{
		width: 15px;
		height: 15px;
		text-align: right;
	}
	.kuaijie{
		position: fixed;
		left: 230px;
		z-index: 100;
		background: #fff;
		width: 100%;
		height: 40px;
		line-height: 40px;
	}
	.kuaijie ul{
		
	}
	.kuaijie ul li{
		float: left;
		padding: 0 20px;
	}
	.kuaijie ul li img{
		width: 10px;
		height: 10px;
		padding-left:10px;
	}